In [1]:
from scipy.io import arff
import pandas as pd

In [3]:
data = arff.loadarff('testProdSelection.arff')
DataTest = pd.DataFrame(data[0])

data = arff.loadarff('trainProdSelection.arff')
Datatrain = pd.DataFrame(data[0])

print(DataTest)

            Type         LifeStyle  Vacation  eCredit   salary  property  \
0     b'student'   b'spend<saving'      12.0     19.0  14.7900    3.7697
1     b'student'  b'spend>>saving'      29.0     10.0  16.1900    2.4839
2     b'student'  b'spend<<saving'      28.0     60.0  15.4600    1.1885
3    b'engineer'   b'spend>saving'      15.0     41.0  21.2600    1.4379
4   b'librarian'   b'spend<saving'       2.0      9.0  19.7207    0.6913
5   b'librarian'   b'spend>saving'       7.0      9.0  12.7098    1.4728
6   b'professor'   b'spend>saving'       5.0     10.0  20.8830    1.3131
7   b'professor'   b'spend<saving'       3.0     15.0  16.5711    0.4792
8     b'student'   b'spend<saving'       9.0     71.0  25.7000    2.0947
9     b'student'   b'spend>saving'      10.0     67.0  27.1100    3.8391
10     b'doctor'   b'spend>saving'       7.0    229.0  30.6100    7.0074
11     b'doctor'   b'spend<saving'       8.0    243.0  25.3300    8.7276
12  b'professor'   b'spend>saving'      51.0      5.0  18.9800    2.8944
13     b'doctor'   b'spend>saving'      34.0     51.0  19.9000    3.9544
14    b'student'  b'spend>>saving'      39.0     40.0  19.3000    3.8317
15    b'student'  b'spend>>saving'      36.0     57.0  19.6100    4.8880
16  b'professor'  b'spend>>saving'      34.0     30.0  20.9100    2.4095
17  b'librarian'  b'spend>>saving'      48.0     35.0  20.1500    2.4436
18  b'professor'  b'spend>>saving'      52.0      5.0  22.6300    2.2115
19   b'engineer'   b'spend>saving'      50.0     17.0  32.5900    1.2229
20   b'engineer'  b'spend>>saving'      50.0     15.0  21.7800    2.0700

    label
0   b'C1'
1   b'C1'
2   b'C1'
3   b'C1'
4   b'C1'
5   b'C1'
6   b'C1'
7   b'C1'
8   b'C1'
9   b'C1'
10  b'C1'
11  b'C1'
12  b'C1'
13  b'C1'
14  b'C1'
15  b'C1'
16  b'C1'
17  b'C1'
18  b'C1'
19  b'C1'
20  b'C1'

In [6]:
Datatrain.Type = Datatrain.Type.str.encode("UTF-8")
Datatrain.LifeStyle = Datatrain.LifeStyle.str.encode("UTF-8")
Datatrain.label = Datatrain.label.str.encode("UTF-8")

DataTest.Type = DataTest.Type.str.encode("UTF-8")
DataTest.LifeStyle = DataTest.LifeStyle.str.encode("UTF-8")
DataTest.label = DataTest.label.str.encode("UTF-8")

In [7]:
print(DataTest)

    Type  LifeStyle  Vacation  eCredit   salary  property  label
0    NaN        NaN      12.0     19.0  14.7900    3.7697    NaN
1    NaN        NaN      29.0     10.0  16.1900    2.4839    NaN
2    NaN        NaN      28.0     60.0  15.4600    1.1885    NaN
3    NaN        NaN      15.0     41.0  21.2600    1.4379    NaN
4    NaN        NaN       2.0      9.0  19.7207    0.6913    NaN
5    NaN        NaN       7.0      9.0  12.7098    1.4728    NaN
6    NaN        NaN       5.0     10.0  20.8830    1.3131    NaN
7    NaN        NaN       3.0     15.0  16.5711    0.4792    NaN
8    NaN        NaN       9.0     71.0  25.7000    2.0947    NaN
9    NaN        NaN      10.0     67.0  27.1100    3.8391    NaN
10   NaN        NaN       7.0    229.0  30.6100    7.0074    NaN
11   NaN        NaN       8.0    243.0  25.3300    8.7276    NaN
12   NaN        NaN      51.0      5.0  18.9800    2.8944    NaN
13   NaN        NaN      34.0     51.0  19.9000    3.9544    NaN
14   NaN        NaN      39.0     40.0  19.3000    3.8317    NaN
15   NaN        NaN      36.0     57.0  19.6100    4.8880    NaN
16   NaN        NaN      34.0     30.0  20.9100    2.4095    NaN
17   NaN        NaN      48.0     35.0  20.1500    2.4436    NaN
18   NaN        NaN      52.0      5.0  22.6300    2.2115    NaN
19   NaN        NaN      50.0     17.0  32.5900    1.2229    NaN
20   NaN        NaN      50.0     15.0  21.7800    2.0700    NaN